
:root{
    --dark-background-maine:#2F303A;
    --blue-maine-color: #2196F3;
    --gray-maine-color: #757575;
    --black-maine-color: #212121;
    --praimary-fontfamily:'Roboto', sans-serif;
    --secondery-fontfamily:'Raleway', sans-serif;
    --light-maine-color:#FFFFFF;

}
body{
    font-family: var(--praimary-fontfamily);
    
    color: #212121;

}
h1,h2,h3,h4,p
{
margin-top: 0;
margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}
img{
    display: block;
}
 .conteiner{
    margin: 0px auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
 }

 
.link  {
    text-decoration: none;
}
.list {
     list-style: none;
}
.text{
font-style: normal;
}

/*---------------header----------------*/
.header-conteiner{
    display: flex;
padding: 25px 0px;
}

.header-nav{
    display: flex;
    align-items: center;
}
.header-nav .header-link-items.current {
    color: var(--blue-maine-color);
}
.header-link {
    display: flex;

}

.logo-web{
    font-family: var(--secondery-fontfamily);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--blue-maine-color) ;

}
.logo {
    font-family: var(--secondery-fontfamily);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
margin-right: 94px;

}
.header-list:not(:last-child){
    margin-right: 50px;
}

.header-link-items{
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
        color:var(--black-maine-color) ;
}
.header-link-items:hover,
.header-link-items:focus
 {
    color:var(--blue-maine-color) ;
}
.header-contact{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contact-list:not(:last-child){
margin-right: 50px;
}


.header-contact-tel,
.header-contact-email
{font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--gray-maine-color);
}


.header-contact :hover,
.header-contact :focus
{
    color: var(--blue-maine-color);
}
/*---------------heroi-----------------*/

.heroi{    
background:var(--dark-background-maine);
}
.heroi-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
   padding-bottom: 200px;
   
}
.heroi-header{
    
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--light-maine-color);
margin-bottom: 30px;
width: 696px;
text-align: center;
}


.heroi-button{
   
min-width: 216px;
padding: 10px 32px;
background: var(--blue-maine-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
cursor: pointer;
text-align: center;
letter-spacing: 0.06em;
color: var(--light-maine-color);

}
.heroi-button:hover,
.heroi-button:focus
{
background: #188CE8;

}

-----------/*benefits*/-------------

.benefits-header{
    opacity: 0;
}
.benefits-conteiner{
   padding-top: 94px;
    
}
.benefits-list{
    display: flex;
    margin-left: -30px;
}
.benefits-items{
    margin-left: 30px;
}
.benefits-items-heder{
    
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--black-maine-color) ;
margin-bottom: 10px;
}
.benefits-items-text{
 font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--gray-maine-color);
}

/*----------------------activity-----------------*/
.activity-conteiner{
    padding: 94px 0px;
    
}
.activityd-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--black-maine-color);
    margin-bottom: 50px;
    text-align: center;
}

.activity-list{
    display: flex;
    margin-left: -30px;
}
.activity-items{
    margin-left: 30px;
}
.activity-img{
    flex-basis: calc((100%-3*30)/3);
}


/*------------------------------team --------------*/
.team{
    background-color: #F5F4FA;
}
.team-conteiner{
    padding: 94px 0px;
    
}
.team-list{
    display: flex;
    margin-left: -30px;
}
.team-items{
    margin-left: 30px;
   
}
.team-img{
    margin-bottom: 30px;
}
.team-header{
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color:var(--black-maine-color) ;
text-align: center;
margin-bottom: 50px;

}

.team-card{
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color:var(--black-maine-color) ;
margin-bottom: 10px;
}
.team-card-text{
 font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color:var(--gray-maine-color);
}
/*------------footer-----*/

.footer-conteiner{
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
}
.logo-footer{
    font-family: var(--secondery-fontfamily);
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: var(--light-maine-color);
    margin-bottom: 20px;
}
.footer-list:not(:last-child){
    margin-bottom: 9px;
}
.foter-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
      }
    .footer{ 
        background-color:var(--dark-background-maine);
    }
    .footer-adress-geoposition{
               font-size: 14px;
        line-height: 1.71;
        letter-spacing: 3%;
         color:  var(--light-maine-color); 
        
         
    }
    
    
            
         .footer-adress-geoposition:hover,
         .footer-adress-geoposition:focus,
          .foter-link:hover,
          .foter-link:focus{
            color: var(--blue-maine-color);
          }


/*----portfolio--------------------------*/

.potrfolio-nav-list{
    display: flex;
    justify-content: center;
}
.potrfolio-nav-list-btn:not(:last-child){
    margin-right: 8px;
}

.potrfolio-nav-button{
 background-color: #F5F4FA;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color:var(--black-maine-color) ;
cursor: pointer;
padding: 6px 22px;
}

.potrfolio-nav-button:hover,
.potrfolio-nav-button:focus{
    background-color:var(--blue-maine-color);
    color:var(--light-maine-color);

}
.potrfolio-items-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.potrfolio-items-header{
  font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--black-maine-color) ;
}
.potrfolio-items-text{
  font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--gray-maine-color);
}




